{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-8" style="margin-top: 70px;">
            <h2 class="title">Iniciar Sesión</h2>
            <form class="form-horizontal" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-2" for="username">Usuario: </label>
                    <div class="col-sm-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Contraseña: </label>
                    <div class="col-sm-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Recuerdame</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit"  class="bttn bttn-primary">Ingresar</button>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
{% endblock %}