.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

#map, #pano {
    height: 315px;
    width: 100%;
    z-index: 199;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.grad1 {
    height: 100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, red, yellow);
}

.row.center {
    display: flex;
    align-items: center;
}

.graph {
    min-width: 250px;
    /*max-width: 800px;*/
    height: 290px;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

#map_report {
    height: 285px;
    width: 100%;
    z-index: 199;
}

#report_title {
    text-align: center;
}

body {
    background: #eeeaef;
}

margin-top-report{
    margin-top: 50px;

}
btn-succes{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ef9797;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ef9797), to(#d41010));
    background: linear-gradient(to bottom, #ef9797 1%, #d41010 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9797', endColorstr='#d41010', GradientType=0);
    opacity: 0.6;
    z-index: -1;
}
.navbar-inverse {
    background-color: #9a0000;
    border-color: #9a0000;
    /*opacity: 0.8;*/
}
.navbar-inverse .navbar-toggle {
    border-color: black;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: red;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ef1f1f;
}
.navbar-inverse .navbar-nav>li>a {
    color: #f9e4e4;
}