<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Luis Perez">
    <meta name="description" content="">
    {% block head %}
        <title>{% block title %}{% endblock %} - Turistify</title>
    {% endblock %}

    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
    <link rel="stylesheet" href="{% static 'mysite/my_style.css' %}">

    <link rel="stylesheet" href="{% static 'mysite/galeria/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/galeria/css/icofont.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/galeria/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/galeria/css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'mysite/galeria/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/galeria/style.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/galeria/css/responsive.css' %}">
    <script src="{% static 'mysite/galeria/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */


    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar" style="transition: 0.4s;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img id='logo' src="{% static 'mysite/logo2.png' %}" alt="Turistify" style="transition: 0.4s;">

        </div>
        <div class="collapse navbar-collapse" id="myNavbar" data-target="#myNavbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a><span class="glyphicon glyphicon-user"></span> Hola {{ user.username }}!</a>
                    </li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {#                {% if menu is defined %}#}
                {#                    <li class="active"><a href="/">Inicio</a></li>#}
                {#                    <li><a href="/#servicios">Servicio</a></li>#}
                {#                    <li><a href="/#galeria">Galeria</a></li>#}
                {#                    <li><a href="/#contactenos">Contactenos</a></li>#}
                {#                    {% if user.is_authenticated %}#}
                {#                        <li><a href="/report">Reportes</a></li>#}
                {#                    {% endif %}#}
                {#                {% endif %}#}
                {% if menu %}
                    <li class="active"><a href="#index">Inicio</a></li>
                    <li><a href="#servicios">Servicio</a></li>
                    <li><a href="#galeria">Galeria</a></li>
                    <li><a href="#contactenos">Contactenos</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/report">Reportes</a></li>
                    {% endif %}
                {% else %}
                    <li class="active"><a href="/">Inicio</a></li>
                    <li><a href="/#servicios">Servicio</a></li>
                    <li><a href="/#galeria">Galeria</a></li>
                    <li><a href="/#contactenos">Contactenos</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/report">Reportes</a></li>
                    {% endif %}
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div id="content">{% block content %}{% endblock %}</div>


<br><br>
<footer class="container-fluid text-center navbar-inverse">
    {#    <ul class="list-inlin">#}
    {#        <li class="list-inline-item">#}
    {#            <a href="#" target="_blank">Descubre Guayaquil</a>#}
    {#        </li>#}
    {#        <li class="list-inline-item">#}
    {#            <a href="#" target="_blank">Dónde Ir</a></li>#}
    {#        <li class="list-inline-item">#}
    {#            <a href="#" target="_blank">Planea tu viaje</a></li>#}
    {#        <li class="list-inline-item">#}
    {#            <a href="#" target="_blank">Guayaquil 360°</a></li>#}
    {#        <li class="list-inline-item">#}
    {#            <a href="#" target="_blank">Inicio</a></li>#}
    {##}
    {#    </ul>#}
    <div class="row ">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#index">Inicio</a></li>
            <li class="list-inline-item"><a href="#servicios" >Servicios</a></li>
            <li class="list-inline-item"><a href="#galeria" >Galeria</a></li>
            <li class="list-inline-item"><a href="#contactenos" >Contactenos</a></li>
            <li class="list-inline-item"><a href="{% url 'login' %}" >Login</a></li>
        </ul>
    </div>
    <div class="row row-copirayt">
        <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
            © Copyright 2018 MSIG - Todos los Derechos Reservados
        </p>
    </div>
</footer>
{% load static %}
<script>
    // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("navbar").style.opacity = "0.8";
            document.getElementById("logo").style.width = "150px";
            document.getElementById("logo").style.paddingTop = "8px";
        } else {
            {#            document.getElementById("myNavbar").style.padding = "18px 10px";#}
            document.getElementById("navbar").style.opacity = "1";
            document.getElementById("logo").style.width = "183px";
            document.getElementById("logo").style.paddingTop = "0px";
        }
    }
</script>
<!--Vendor-JS-->
<script src="{% static 'mysite/galeria/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/vendor/bootstrap.min.js' %}"></script>
<!--Plugin-JS-->
<script src="{% static 'mysite/galeria/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/appear.js' %}"></script>
<script src="{% static 'mysite/galeria/js/bars.js' %}"></script>
<script src="{% static 'mysite/galeria/js/waypoints.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/counterup.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/easypiechart.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/mixitup.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/contact-form.js' %}"></script>
<script src="{% static 'mysite/galeria/js/scrollUp.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'mysite/galeria/js/wow.min.js' %}"></script>

<script src="{% static 'mysite/galeria/js/main.js' %}"></script>

</body>
</html>
