{#{% extends "base.html" %}#}
{#{% block title %}Inicio{% endblock %}#}
{#{% block content %}#}
{#    {% load static %}#}
<section class="section-padding" id="contactenos">
    <div class="container" >
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12 form-groupcol-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container" style="border-bottom:1px solid black">
                        <h2>Contáctenos</h2>
                    </div>
                    <hr>
                    <p>
                        Envíanos tu mensaje y te responderemos lo antes posible.
                    </p>
                    <form role="form" method="post" id="reused_form">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name">
                                    Primer Nombre:</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" maxlength="50">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="name">
                                    Apellido:</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" maxlength="50">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="email">
                                    Email:</label>
                                <input type="text" class="form-control" id="email" name="email"
                                       maxlength="50">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="email">
                                    Teléfono:</label>
                                <input type="tel" class="form-control" id="phone" name="phone" required
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="name">
                                    Mensaje:</label>
                                <textarea class="form-control" type="textarea" id="message" name="message"
                                          placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button onclick="location.href = '/';" type="submit"
                                        class="bttn bttn-primary" id="btnContactUs">Enviar !
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <hr>
                    <hr>
                    <ul class="container details">
                        <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>593 983761039
                        </p></li>
                        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>info@turistify.com
                        </p></li>
                        <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Matriz:
                            Malecón 2000</p></li>
                        <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Sucursal 1:
                            Mall del Sol</p></li>
                        <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Sucursal 2:
                            Mall del Sur</p></li>
                        <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.turistify.com
                        </a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{#{% endblock %}#}