<section class="section-padding" id="galeria">
    {% load static %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="page-title text-center">
                    <h2 class="title">Galería</h2>
                    <p>Te invitamos a visitar nuestras diferentes categorías en nuestra galería</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- Mixitup controls -->
                <ul class="filter-controls text-center">
                    <li class="active filter" data-filter="all">All</li>
                    <li class="active filter" data-filter=".graphics">Postales</li>
                    <li class="filter" data-filter=".ux_ui">Monumentos</li>
                    <li class="filter" data-filter=".web_design">Sitios Turisticos</li>
                    <li class="filter" data-filter=".coding">Restaurantes</li>
                    <li class="filter" data-filter=".developing">Gastronomía</li>
                    <li class="filter" data-filter=".photography">Diversión</li>
                </ul>
            </div>
        </div>
        <div class="row" id="filtering">
            <div class="col-xs-6 col-sm-4 col-md-3 mix  web_design">
                <div class="filter-box">
                    <div class="filter-image">
{#                        <img src="{% static '#}
                        <img src="{% static 'mysite/galeria/images/work-1.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Arquitectura</h5>
                        <a href="{% static 'mysite/galeria/images/work-1.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix coding ">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-2.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Restaurantes</h5>
                        <a href="{% static 'mysite/galeria/images/work-2.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix ux_ui ">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-3.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Monumentos</h5>
                        <a href="{% static 'mysite/galeria/images/work-3.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix web_design">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-4.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Iglesias</h5>
                        <a href="{% static 'mysite/galeria/images/work-4.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix  developing">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-5.jpg'%}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Gastronomía</h5>
                        <a href="{% static 'mysite/galeria/images/work-5.jpg'% }" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix graphics">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-6.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Postales</h5>
                        <a href="{% static 'mysite/galeria/images/work-6.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix  photography">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-17.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Diversión</h5>
                        <a href="{% static 'mysite/galeria/images/work-17.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix web_design graphics">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-8.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Postales</h5>
                        <a href="{% static 'mysite/galeria/images/work-8.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4 col-md-3 mix ux_ui">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-9.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Monumentos</h5>
                        <a href="{% static 'mysite/galeria/images/work-9.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix developing">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-12.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Gastronomía</h5>
                        <a href="{% static 'mysite/galeria/images/work-12.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix ux_ui">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-13.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Monumentos</h5>
                        <a href="{% static 'mysite/galeria/images/work-13.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix developing">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-11.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Gastronomía</h5>
                        <a href="{% static 'mysite/galeria/images/work-11.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix photography">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-7.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Diversión</h5>
                        <a href="{% static 'mysite/galeria/images/work-7.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix coding">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-19.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Restaurantes</h5>
                        <a href="{% static 'mysite/galeria/images/work-19.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix web_design">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-20.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Sitios Turisticos</h5>
                        <a href="{% static 'mysite/galeria/images/work-20.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 mix coding">
                <div class="filter-box">
                    <div class="filter-image">
                        <img src="{% static 'mysite/galeria/images/work-21.jpg' %}" alt="">
                    </div>
                    <div class="filter-hover">
                        <h5>Restaurantes</h5>
                        <a href="{% static 'mysite/galeria/images/work-21.jpg' %}" class="filter-popup" data-effect="mfp-zoom-in"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-Area / -->