{% extends "base.html" %}
{% block title %}Imagenes{% endblock %}
{% block content %}
    <section class="section-table cid-r28jHQ8Sqt" id="image">
        <style>
            #imagen {
                border: 1px solid black;
                margin: 5px;
                height: 405px;
                padding: 5px;
            }

            h3 {
                text-align: center;
            }

            img {
                float: left;
                margin: 0px 15px 15px 0px;
            }
        </style>
        {% for item in items %}
            <div id="imagen">
                <h3>{{ item.title }}</h3>
                {{ item.description|safe }}<br/>
                <h4>{{ item.author }}</h4>
                {{ item.date_taken }}
            </div>
        {% endfor %}
    </section>
{% endblock %}