{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    {% load static %}
    <div class="jumbotron container-fluid nopadding" id="index">
        {#        <div class="container">#}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    {% load static %}
                    <img src="{% static 'mysite/1.jpg' %}" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static 'mysite/2.jpg' %}" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static 'mysite/3.jpg' %}" alt="New york" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {#        </div>#}
    </div>
    {% include 'servicio.html' %}
    {% include 'galeria.html' %}
    <div class="container-fluid">
        <div class="row center">
            <div class="col-md-6 mt64 mb32">
                <h3 style="text-align:center">GUAYAQUIL ES MI DESTINO</h3>
                <h3 style="text-align:center">Sitio web oficial turístico de Guayaquil. Los esperamos con los brazos abiertos, porque somos un puerto abrigado que recibe con amor a todos los turistas que llegan desde diversas partes del mundo.<br/></h3>
                <h3 style="text-align: right;">
                    <br/>
                </h3>

                <p style="text-align: right;">&nbsp;</p>
            </div>
            <div class="col-md-6 mb32 mt92">
                <img class="img img-responsive mb16" src="{% static 'mysite/logo3.png' %}"/>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-3 text-center">

        <div class="row">
            <div class="col-sm-6">
                <h2 class="title">Sucursales</h2>
                <div id="map" class="col-xs-2"></div>
                <script src="{% static 'mysite/maps/mapa2.js' %}"></script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYbbWh-wg7ZhBtlIoRVanl45pILiKSiP0&callback=initMap">
                </script>
            </div>
            <div class="col-sm-6">
                <h2 class="title">Visítanos</h2>
                <iframe id="video" width="100%" height="315" src="https://www.youtube.com/embed/rT8QAFNuXTM"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% include 'contactenos.html' %}
    <script>
        $(document).ready(function () {
            // Add scrollspy to <body>
            $('body').scrollspy({target: ".navbar", offset: 50});

            // Add smooth scrolling on all links inside the navbar
            $("#myNavbar a").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                }  // End if
            });
        });
</script>

{% endblock %}