{% extends "base.html" %}
{% block title %}Reportes{% endblock %}
{% block content %}
    {% load static %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="{% static 'mysite/graph.js' %}"></script>

    <div class="container-fluid center">
{#    <h1 id="report_title"></h1>#}
    </div>

    <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-xl-3 graph">
                <div id="map_report"></div>
            </div>
            <div id="graph1" class="col-xs-12 col-sm-6 col-md-4  graph" data-url="{% url 'mysite:data1' %}">
                {#            <div id="graph1" class="col-sm-6 graph">#}
            </div>
            <div id="graph2" class="col-xs-12 col-sm-12 col-md-5 col-xl-5 graph" data-url="{% url 'mysite:data2' %}">
            </div>
            <script src="{% static 'mysite/maps/map_report.js' %}"></script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYbbWh-wg7ZhBtlIoRVanl45pILiKSiP0&callback=initMap">
            </script>
        </div>
    </div>
    <div class="container-fluid bg-6 text-center">
        <div class="row">
            <div id="graph3" class="col-xs-12 col-sm-6 col-md-6 col-xl-6 graph" data-url="{% url 'mysite:data3' %}">
            </div>
            <div id="graph4" class="col-xs-12 col-sm-6 col-md-6 col-xl-6 graph" data-url="{% url 'mysite:data4' %}">
            </div>
        </div>
    </div><br>

{% endblock %}