<section class="section-padding gray-bg" id="servicios">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title text-center">
                        <h2 class="title">TURISTYFY</h2>
                        <h2 class="title">Primer sitio web turístico donde tus sueños de vacacionar se hacen realidad</h2>
                        <h2 class="title">Conoce nuestros Paquetes Promocionales:</h2>
                        <p style="text-align: right;">Contamos con el servicio de Asociados de renombre como Malecón 2000, Metropolitan Touring, Guía Tour.</p>


                    </div>
                </div>
            </div>
            <div class="row prices tab-content">
                <div id="monthly" class="tab-pane fade in active">
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="price-box">
                            <h4>Básico</h4>
                            <h4 class="amount">&#36;99</h4>
                            <ul class="price-list">
                                <li>Paseo en bus panorámico de 2 pisos, capacidad 65 personas</li>
                                <li>Recorrido por Malecón Simón Bolivar, Las Peñas, entre otros</li>
                                <li>Duración 1 hora y 30 minutos</li>
                            </ul>
                            <a href="#contactenos" class="bttn bttn-sm bttn-default">Solicitar</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="price-box active">
                            <h4>Medium</h4>
                            <h4 class="amount">&#36;299</h4>
                            <ul class="price-list">
                                <li>Paquete Básico</li>
                                <li>Gastronomía: Recorrido principal por restaurantes típicos, incluye Guía Turístico</li>
                                <li>Incluye Guía Turístico</li>
                            </ul>

                            <a href="#contactenos" class="bttn bttn-sm bttn-default">Solicitar</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="price-box">
                            <h4>Premium</h4>
                            <h3 class="amount">&#36;499</h3>
                            <ul class="price-list">
                                <li>Paquete Medium</li>
                                <li>Diversión: Piqueos y bebidas (alcohólicas y soft), Zona Rosa, payasos, animación, etc.</li>
                                <li>Hotel ☆☆☆☆ por 2d/1n</li>
                            </ul>
                            <a href="#contactenos" class="bttn bttn-sm bttn-default">Solicitar</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="price-box">
                            <h4>Personalizado</h4>
                            <h3 class="amount">&#36; ..</h3>
                            <ul class="price-list">
                                <li>Paquete Básico</li>
                                <li>Paquete Medium</li>
                                <li>Paquete Premium, sujetos a cambios dependiendo de disponibilidad</li>
                            </ul>

                            <a href="#contactenos" class="bttn bttn-sm bttn-default">Solicitar</a>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
