{% extends "base.html" %}
{% block title %}Tablero{% endblock %}
{% block content %}

    <section class="section-table cid-r28jHQ8Sqt" id="table1-b">

        <div class="container container-table">
            <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
                Tablero
            </h2>
            <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5">
                Lugares mas visitados del mundo
            </h3>
            <div class="table-wrapper">
                <div class="container">
                    <div class="row search">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="dataTables_filter">
                                <label class="searchInfo mbr-fonts-style display-7">Search:</label>
                                <input class="form-control input-sm" disabled="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container scroll">
                    <table class="table isSearch" cellspacing="0">
                        <thead>
                        <tr class="table-heads ">


                            <th class="head-item mbr-fonts-style display-7">
                                País
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                Ciudad
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                Lugar
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                Visitas
                            </th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for item in consultas %}
                            <tr>

                                <td class="body-item mbr-fonts-style display-7">{{ item.country }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ item.city }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ item.name }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ item.count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="container table-info-container">
                    <div class="row info">
                        <div class="col-md-6">
                            <div class="dataTables_info mbr-fonts-style display-7">
                                <span class="infoBefore">Mostrando</span>
                                <span class="inactive infoRows"></span>
                                <span class="infoAfter">entradas</span>
                                <span class="infoFilteredBefore">(filtered from</span>
                                <span class="inactive infoRows"></span>
                                <span class="infoFilteredAfter"> total entries)</span>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}